.search-field {
  margin-right: 112px;
  border: 1px solid gainsboro;
  padding: 4px 24px;
  border-radius: 8px;
}

.search-field-content {
  display: flex;
  width: 460px;
  justify-content: space-between;
  align-items: center;
  font-size: 13px;
}

.search-field-content input {
  width: 100%;
  border: none;
  outline: none;
}

.search-field img {
  cursor: pointer;
  width: 24px;
}

#searchMessage {
  margin-top: 8px;
  font-size: 14px;
  color: #555;
  font-style: italic;
  text-align: center;
}

